.slds-bold{
	font-size: 12px;
	font-weight: bold;
}

.slds-h3{
	color: red;
	font-size: 20px;
	font-weight: bold;
}

.slds-h4{
	color: blue;
	font-size: 10px;
	font-weight: bold;
}

.slds-h5{
	color: Black;
	font-size: 10px;
	font-weight: bold;
}

.slds-h6{
	color: blue;
	font-size: 10px;
	font-weight: bold;
}

.slds-h7{
	color: Black;
	font-size: 10px;
	font-weight: bold;
}